.card {
  &__image {
    display: block;
    margin: auto;
    height: 25rem;
    width: 25rem;
  }
  &__wrapper {
    background-color: aqua;
    display: none;

    &--open {
      background-color: #ffff;
      display: contents;
    }
  }
}

.box {
  position: relative;
  width: 80%;
  &__title {
  }
  &__item {
    position: relative; /* add position relative to the element */
    cursor: pointer;
  }
}
